---
import type { CollectionEntry } from 'astro:content';

import { Image } from "astro:assets";

import Head from '@/components/Head.astro';
import Footer from '@/components/Footer.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import SwitchThemeButton from '@/components/SwitchThemeButton.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, cover, coverAlt } = Astro.props;

---

<html lang="en">
	<head>
		<Head title={title} description={description} type="article" image={cover?.src} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.cover {
				width: 100%;
				padding-bottom: 1em;
			}
			.cover img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				max-height: 50vh;
				object-fit: cover;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				color: var(--text-color);
			}
			.title {
				/* margin-bottom: 1em; */
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.date {
				margin-bottom: 0.5em;
				color: var(--primary-color);
			}
			.last-updated-on {
				font-style: italic;
				font-size: 75%;
				margin-top: 0.5em;
			}
		</style>
	</head>

	<body>
		<main>
			<SwitchThemeButton />
			<article>
				<div class="cover">
					{cover && <Image class="shadow" width={1020} height={510} src={cover} alt={coverAlt!} />}
				</div>
				<div class="prose">
					<nav class="links">
						<a href="/">Home</a>
						<a href="/posts">Posts</a>
					</nav>
					<div class="title">
						<h1>{title}</h1>
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
